.front {
    width: 20rem;
    height: 30rem;
    
    border-radius: 15px;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    transform: perspective(1000px) rotateY(0deg);
    backface-visibility: hidden;
    transition: 2s all ease-in-out;
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
   font-size: larger;
   font-weight: 600;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.box:hover .front{
    transform: perspective(1000px) rotateY(180deg);
}
.front img{
    width: 20rem;
}
.back img{
    width: 20rem;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.back {
    width: 20rem;
    height: 40rem;

  
   
    border-radius: 15px;
    overflow: hidden;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(1000px) rotateY(-180deg);
    backface-visibility: hidden;
    transition: 2s all ease-in-out;
}
.box:hover .back{
    transform: perspective(1000px) rotateY(0deg);
}

.center {
   
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
}
